@using E_Commerce.Models
@model Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if(!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Product Name</label>
        <input name="ProductName" class="form-control" />
    </div>
</form>
